# This file defines the CI build steps for this repo.
#
# Documentation for this file format is here:
# https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema

variables:
    FORCE_COLOR: 1

pool:
    vmImage: ubuntu-latest

steps:
    - task: NodeTool@0
      displayName: 'Use Node 20'
      inputs:
          versionSpec: '20.x'
          checkLatest: true

    - template: templates/build.yaml

    - task: PublishTestResults@2
      displayName: 'Collect test results'
      condition: succeededOrFailed()
      inputs:
          testRunner: JUnit
          testResultsFiles: 'reports/*.xml'

    - task: PublishCodeCoverageResults@1
      displayName: 'Collect code coverage'
      inputs:
          codeCoverageTool: Cobertura
          summaryFileLocation: coverage/*.xml
